html, body {
    /* margin: auto; */
    /* padding: 0; */
    background: black;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

#card {
    font-family: Inter;
    font-style: normal;
    background: #1F2937;
    color: white;
    padding: 70px 40px 50px 40px;
    width: 470px;
    border-radius: 6px; 
}

h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 0.03rem;
}

p {
    margin-top: 8px; 
    font-weight: 200;
}

#green-el {
    color: #55F991;
}

button {
    background: #10B981;
    height: 42px;
    width: 223px;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
}

hr {
    border: 1px solid #2F3E53;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.flex-container > div {
    width: 211px;
    padding: 10px 8px;
    margin-bottom: 12px;
    font-size: 14px;   
    color: #55F991;
    background: #273549;
    border-radius: 6px;
    text-align: center;
    align-items: center; 
    letter-spacing: 0.01rem;
    border-style: none;
    outline: none;
    cursor: pointer;
}

/* .flex-container > input::placeholder {
    color: #55F991;
} */



